.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_img {
    height: 200px !important;
}

h1 {
    text-align: center;
}

.container_footer {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.fa-user:before {
    content: "\f007";
    margin-right: 20px;
}

#id_connect {
    margin-right: 50px;
    font-size: 0.75em;
}

footer {
    /* position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: white; */
}

.acteur_container {
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    margin: 20px 50px;
    border-radius: 5px;
}

.acteur_logo>img {
    border: 1px solid lightgrey;
    max-width: 300px;
    margin: 20px 50px;
}

.acteur_title {}

.acteur_description {}

button {
    float: right;
    margin: 5px 20px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.home_login {
    text-align: center;
}

.home_link {
    margin: 50px;
}

input,
textarea,
select {
    width: 390px;
    margin: 0;
    -webkit-box-sizing: border-box;
    /* Pour les anciennes versions des navigateurs WebKit */
    -moz-box-sizing: border-box;
    /* Pour tous les navigateurs Gecko */
    box-sizing: border-box;
}