.logo_img {
    height: 200px !important;
}

h1,
h2 {
    text-align: center;
    margin: 30px 0px !important;
}

body {
    margin: 30px 0px;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: #6c757d!important;
    margin: 0 10px;
}

input,
textarea,
select {
    width: 390px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

label {
    color: grey;
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px;
}

.container_footer {
    display: flex;
    justify-content: center;
    font-size: 16px;
    bottom: 0px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    color: #6c757d!important;
    margin-top: 150px;
}

#id_connect {
    margin-right: 50px;
    font-size: 0.75em;
}

.acteur_container {
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    margin: 20px 50px;
    border-radius: 5px;
}

.acteur_logo>img {
    border: 1px solid lightgrey;
    max-width: 300px;
    margin: 20px 50px;
}

.acteur_title {
    margin: 15px 0px;
}

.acteur_description {
    text-align: justify;
    padding-right: 20px;
}

.acteur_button {
    margin-right: 20px;
    float: right;
    margin: 5px 20px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: black;
    border: 0;
    padding: 7px;
    color: #FFFFFF;
    font-size: 12px;
    border-radius: 3px;
}

.acteur_button:hover {
    background: red;
}

.acteur_header_commentaire {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #f2f2f2;
    ;
    width: 100%;
    border: 0;
    padding: 15px 0;
    color: black;
    font-size: 14px;
}

.acteur_description {
    text-align: justify;
    padding-right: 20px;
    margin: auto;
    max-width: 80%;
}


/* button {
    float: right;
    margin: 5px 20px;
} */

.home_login {
    text-align: center;
}

.home_link {
    margin: 50px;
}

.center {
    margin: auto;
    display: flex;
    width: 80%;
}

.card {
    max-width: 450px;
    margin: auto;
    margin-top: 8em;
    margin-bottom: 10em;
}

.btn-primary {
    background-color: #e9ecef !important;
    border-color: #e9ecef !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    color: #495057 !important;
}

.btn-primary:hover {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
    color: white !important;
}

.input-group-text {
    width: 50px;
}

.logo_img_home {
    display: flex;
    margin: auto;
    width: 90px;
}

.container_home {
    align-items: center;
    justify-content: center;
}

.title_listing {
    margin: 20px 50px;
}

.page_acteur_logo {
    margin: 70px auto;
    display: flex;
    max-height: 150px;
}

.container_page_acteur {
    text-align: justify;
    padding-right: 20px;
    margin: auto;
    /* max-width: 80%; */
    max-width: 875px;
}

.commentaire {
    margin: 10px auto;
    max-width: 875px;
}

.container_link {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: right;
    left: 0px;
}

.container_info_acteur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 875px;
    margin: auto;
}

#new_commentaire {
    display: none;
    height: 200px;
}


/* Icones fonawesome */

i.fas.fa-thumbs-up {
    color: green;
}

i.fas.fa-thumbs-down {
    color: red;
    transform: scaleX(-1);
}

.fa-user:before {
    content: "\f007";
    margin-right: 20px;
}

.like>a {
    margin: 0;
}

.like>a>i/last-child {
    border: 5px solid green;
}

@media (max-width: 640px) {
    .acteur_container {
        flex-direction: column;
    }
    .acteur_title {
        padding: 0 20px;
    }
    .container_header {
        margin: 0px 0px;
    }
    .container_header {
        flex-direction: column;
    }
    .nbCommentaire>h2 {
        font-size: 1rem;
    }
    .container_link {
        text-align: center;
        position: relative;
    }
    #id_connect {
        margin-right: 0px;
        display: flex;
        flex-direction: column;
    }
    .fa,
    .fas {
        font-weight: 900;
        margin-left: 25px;
    }
    .page_acteur_logo {
        max-width: 100%;
    }
    .login-page {
        width: 80%;
    }
}


/* NEWS */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
    width: 50%;
    min-width: 350px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    /* max-width: 50%; */
    margin: 0 auto 50px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: black;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: red;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}